<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>


<table class="table">
    <a href="/book/create" class="btn btn-primary">Create new book</a>
    <br>
    <form action="/book/" method="GET">
        <label>Keyword:</label>
        <input type="text" id="keyword" name="keywords">
        <div class="form-group">
            <button type="submit" class="btn btn-primary" >Search</button>
        </div>
    </form>
    <form action="/book/" method="GET">
        <label>Author:</label>
        <input type="text" id="keyword" name="keywords">
        <div class="form-group">
            <button type="submit" class="btn btn-warning" >Search</button>
        </div>
    </form>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">title</th>
        <th scope="col">Description</th>
        <th scope="col">Author</th>
        <th scope="col">Keyword</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% books.forEach((item, index) => {  %>
        <tr>
            <td><%= index +1%></td>
            <td><%= item.title%></td>
            <td><%= item.description%></td>
            <td><%= item.author.name%></td>
            <% item.keywords.forEach(ej=>{%>
                <td><%= ej.keywords%></td>
            <%})%>
            <td><a href="/book/update/<%=item.id%>" class="btn btn-primary">Update</a></td>
            <td><a href="/book/delete/<%=item.id%>" class="btn btn-danger">Delete</a></td>
        </tr>
    <% })%>
    </tbody>
</table>


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>